# IntelliJ IDEA
.idea/
*.iml
out/

# VS Code
.vscode/

# OS system files
.DS_Store
Thumbs.db

# Java build
*.class
*.jar
*.war
*.ear
*.log
target/
bin/

# Ignore build artifacts
build/

# Eclipse
.classpath
.project
.settings/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
